<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pccp.model.dao.CameraUrlMapper">
  <resultMap id="BaseResultMap" type="com.example.pccp.model.pojo.CameraUrl">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pipe_id" jdbcType="INTEGER" property="pipeId" />
    <result column="camera_name" jdbcType="VARCHAR" property="cameraName" />
    <result column="vedio_url" jdbcType="VARCHAR" property="vedioUrl" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="create_operator" jdbcType="VARCHAR" property="createOperator" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pipe_id, camera_name, vedio_url, create_time, create_operator
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from camera_url
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectListQue" parameterType="com.example.pccp.model.query.CameraUrlQue" resultType="com.example.pccp.model.vo.CameraUrlVO">
    SELECT
    au.id AS id,
    au.pipe_id AS pipeId,
    pi.`name` AS pipeName,
    au.camera_name AS cameraName,
    au.vedio_url AS vedioUrl,
    au.create_time AS createTime,
    au.create_operator AS createOperator
    from camera_url au
    left join pipe pi on pi.id = au.id
    <where>
      <if test="pipeId != null">
        and  au.pipe_id =#{pipeId}
      </if>
    </where>

  </select>

  <select id="selectByPipeId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from camera_url
    where pipe_id = #{pipeId,jdbcType=INTEGER}
  </select>


  <select id="selectListByIds" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from camera_url
    where id in
    <foreach close=")" collection="ids" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </select>
  <delete id="deleteByPrimaryKey">
    delete from camera_url
    where id in
    <foreach close=")" collection="ids" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </delete>
  <insert id="insert" parameterType="com.example.pccp.model.pojo.CameraUrl">
    insert into camera_url (id, pipe_id, camera_name, 
      vedio_url, create_time, create_operator
      )
    values (#{id,jdbcType=INTEGER}, #{pipeId,jdbcType=INTEGER}, #{cameraName,jdbcType=VARCHAR}, 
      #{vedioUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createOperator,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.pccp.model.pojo.CameraUrl">
    insert into camera_url
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pipeId != null">
        pipe_id,
      </if>
      <if test="cameraName != null">
        camera_name,
      </if>
      <if test="vedioUrl != null">
        vedio_url,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createOperator != null">
        create_operator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pipeId != null">
        #{pipeId,jdbcType=INTEGER},
      </if>
      <if test="cameraName != null">
        #{cameraName,jdbcType=VARCHAR},
      </if>
      <if test="vedioUrl != null">
        #{vedioUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createOperator != null">
        #{createOperator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.pccp.model.pojo.CameraUrl">
    update camera_url
    <set>
      <if test="pipeId != null">
        pipe_id = #{pipeId,jdbcType=INTEGER},
      </if>
      <if test="cameraName != null">
        camera_name = #{cameraName,jdbcType=VARCHAR},
      </if>
      <if test="vedioUrl != null">
        vedio_url = #{vedioUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createOperator != null">
        create_operator = #{createOperator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.pccp.model.pojo.CameraUrl">
    update camera_url
    set pipe_id = #{pipeId,jdbcType=INTEGER},
      camera_name = #{cameraName,jdbcType=VARCHAR},
      vedio_url = #{vedioUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      create_operator = #{createOperator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>