<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pccp.model.dao.VibrationSignalMapper">
  <resultMap id="BaseResultMap" type="com.example.pccp.model.pojo.VibrationSignal">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pipe_id" jdbcType="INTEGER" property="pipeId" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="res_state" jdbcType="INTEGER" property="resState" />
    <result column="time" jdbcType="VARCHAR" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pipe_id, file_path, res_state, `time`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from vibration_signal
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectListQue" parameterType="com.example.pccp.model.query.AcousticSignalQue" resultType="com.example.pccp.model.vo.AcousticSignalVO">
    SELECT
    au.id as id,
    au.pipe_id as pipeId,
    pi.`name` as pipeName,
    au.file_path as filePath,
    au.res_state as resState,
    au.time as time
    from vibration_signal au
    LEFT JOIN pipe pi on pi.id = au.pipe_id
    <where>
      <if test="pipeId != null">
        and  au.pipe_id =#{pipeId}
      </if>
      <if test="resState != null">
        and  au.res_state =#{resState}
      </if>
      <if test="startTime != null">
        and  au.time >=#{startTime}
      </if>
      <if test="endTime != null">
        and  au.time &lt;=#{endTime}
      </if>
    </where>

  </select>

  <select id="selectByPipeId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from vibration_signal
    where pipe_id = #{pipeId,jdbcType=INTEGER}
  </select>


  <select id="selectListByIds" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from vibration_signal
    where id in
    <foreach close=")" collection="ids" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </select>
  <delete id="deleteByPrimaryKey">
    delete from vibration_signal
    where id in
    <foreach close=")" collection="ids" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </delete>
  <insert id="insert" parameterType="com.example.pccp.model.pojo.VibrationSignal">
    insert into vibration_signal (id, pipe_id, file_path, 
      res_state, `time`)
    values (#{id,jdbcType=INTEGER}, #{pipeId,jdbcType=INTEGER}, #{filePath,jdbcType=VARCHAR}, 
      #{resState,jdbcType=INTEGER}, #{time,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.pccp.model.pojo.VibrationSignal">
    insert into vibration_signal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pipeId != null">
        pipe_id,
      </if>
      <if test="filePath != null">
        file_path,
      </if>
      <if test="resState != null">
        res_state,
      </if>
      <if test="time != null">
        `time`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pipeId != null">
        #{pipeId,jdbcType=INTEGER},
      </if>
      <if test="filePath != null">
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="resState != null">
        #{resState,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.pccp.model.pojo.VibrationSignal">
    update vibration_signal
    <set>
      <if test="pipeId != null">
        pipe_id = #{pipeId,jdbcType=INTEGER},
      </if>
      <if test="filePath != null">
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="resState != null">
        res_state = #{resState,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        `time` = #{time,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.pccp.model.pojo.VibrationSignal">
    update vibration_signal
    set pipe_id = #{pipeId,jdbcType=INTEGER},
      file_path = #{filePath,jdbcType=VARCHAR},
      res_state = #{resState,jdbcType=INTEGER},
      `time` = #{time,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>